In [1]:
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
# Set up the data
data = pd.DataFrame()
data['gender'] = ['male'] * 100 + ['female'] * 100
data['height'] = np.append(np.random.normal(69, 8, 100), np.random.normal(64, 5, 100))
data['weight'] = np.append(np.random.normal(195, 25, 100), np.random.normal(166, 15, 100))

In [3]:
data.head()

  gender     height      weight
0   male  79.148039  198.531974
1   male  57.849592  149.024343
2   male  75.367285  209.222054
3   male  62.257360  210.839284
4   male  71.713805  146.699981

In [5]:
data.height.mean()

67.0452939303712

In [6]:
data.height.std()

7.452629383184169

In [7]:
data.describe()

           height      weight
count  200.000000  200.000000
mean    67.045294  179.694155
std      7.452629   26.177514
min     43.551258  112.156655
25%     62.231968  160.029010
50%     66.385147  178.234271
75%     71.553982  196.770790
max     91.889541  264.634542

In [9]:
#groupby categorical value
data.groupby('gender').describe()

       height                                                        \
        count       mean       std        min        25%        50%
gender
female  100.0  64.235288  5.137175  52.938653  61.239472  64.832677
male    100.0  69.855300  8.324785  43.551258  64.595175  70.248961

                             weight                                     \
              75%        max  count        mean        std         min
gender
female  67.831573  75.882979  100.0  165.259364  17.046776  112.156655
male    75.196200  91.889541  100.0  194.128945  25.805388  125.722717


               25%         50%         75%         max
gender
female  154.268608  162.133841  177.639273  204.288053
male    178.351394  195.548901  210.081889  264.634542

In [11]:
data.gender.value_counts()

male      100
female    100
Name: gender, dtype: int64

In [13]:
#not useful for continuous value
data.weight.value_counts().head()

152.109315    1
182.806926    1
184.223332    1
197.706153    1
160.011442    1
Name: weight, dtype: int64